SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
WA_VERIFY_TOKEN=
META_APP_SECRET=

ANTHROPIC_API_KEY=
FB_APP_ID=
FB_APP_SECRET=
NEXT_PUBLIC_FB_APP_ID=
NEXT_PUBLIC_FB_CONFIG_ID=
